@import url("//fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("//beta.adalab.es/resources/stylesheets/all.css");

* {
  background-color: rgb(14, 15, 15);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}
.form__input-text {
  background-color: #14d9c4;
  color: black;
}
.cards {
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
  gap: 0.7rem;
}
